[Unit]
Description=Norepi's HTTP(S) Server
After=network.target
After=norepi-hosts-server.service

[Service]
Type=simple
ExecStart=/usr/local/bin/norepi-httpd
Restart=on-failure
Environment=RUST_LOG=debug
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
